# Ch2.1 NumPy Operations

# Operations

## Basic Operations

In [1]:
import numpy as np
import pandas as pd

In [13]:
np.__version__, pd.__version__

('1.17.4', '0.25.3')

In [14]:
ar=np.arange(0,7)*5; ar

array([ 0,  5, 10, 15, 20, 25, 30])

In [15]:
ar=np.arange(5) ** 4 ; ar

array([  0,   1,  16,  81, 256], dtype=int32)

In [16]:
ar ** 0.5

array([ 0.,  1.,  4.,  9., 16.])

In [17]:
ar=3+np.arange(0, 30,3); ar

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [18]:
ar2=np.arange(1,11); ar2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [19]:
ar+ar2

array([ 4,  8, 12, 16, 20, 24, 28, 32, 36, 40])

In [20]:
ar-ar2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [21]:
ar/ar2

array([3., 3., 3., 3., 3., 3., 3., 3., 3., 3.])

In [22]:
ar*ar2

array([  3,  12,  27,  48,  75, 108, 147, 192, 243, 300])

In [23]:
ar%ar2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [25]:
# Bitwise XOR
ar^ar2

array([ 2,  4, 10,  8, 10, 20, 18, 16, 18, 20], dtype=int32)

In [28]:
ar2*8

array([ 8, 16, 24, 32, 40, 48, 56, 64, 72, 80])

In [30]:
ar2<<3

array([ 8, 16, 24, 32, 40, 48, 56, 64, 72, 80], dtype=int32)

<b>Array multiplication is element wise</b><br>

In [35]:
ar=np.array([[1,2],[3,4]]); ar

array([[1, 2],
       [3, 4]])

In [36]:
ar2=np.array([[2,2],[2,2]]); ar2

array([[2, 2],
       [2, 2]])

In [37]:
# 矩陣相乘
ar.dot(ar2)

array([[ 6,  6],
       [14, 14]])

In [39]:
# 對應元素相乘
ar*ar2

array([[2, 4],
       [6, 8]])

<b>Comparison and logical operations are also elememt-wise</b>

In [40]:
ar=np.arange(1,5); ar

array([1, 2, 3, 4])

In [41]:
ar2=np.arange(5,1,-1); ar2

array([5, 4, 3, 2])

In [42]:
# 對應元素boolean
ar < ar2

array([ True,  True, False, False])

In [43]:
l1 = np.array([True,False,True,False])
l2 = np.array([False,False,True, False])
np.logical_and(l1,l2)

array([False, False,  True, False])

In [47]:
ar3=np.arange(5);ar3

array([0, 1, 2, 3, 4])

In [48]:
ar4=np.arange(0,50,10);ar4

array([ 0, 10, 20, 30, 40])

In [49]:
np.logical_and(ar3,ar4)

array([False,  True,  True,  True,  True])

<b>For element-wise operations, the 2 arrays must be the same shape else an error results</b>

In [50]:
ar=np.arange(0,6); ar

array([0, 1, 2, 3, 4, 5])

In [51]:
ar2=np.arange(0,8); ar2

array([0, 1, 2, 3, 4, 5, 6, 7])

In [53]:
#operands could not be broadcast together with shapes (6,) (8,)
ar*ar2

ValueError: operands could not be broadcast together with shapes (6,) (8,)

<b>NumPy arrays can be transposed</b>

In [54]:
ar=np.array([[1,2,3],[4,5,6]]); ar

array([[1, 2, 3],
       [4, 5, 6]])

In [55]:
ar.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [56]:
np.transpose(ar)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [58]:
%timeit ar.T
%timeit np.transpose(ar)

112 ns ± 0.768 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
684 ns ± 4.32 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [129]:
#水平陣列轉變為垂直陣列
ar6=np.arange(10,70,10);ar6

array([10, 20, 30, 40, 50, 60])

In [130]:
ar6[np.newaxis,:]

array([[10, 20, 30, 40, 50, 60]])

In [132]:
ar6[np.newaxis,:].shape

(1, 6)

In [131]:
ar6[:,np.newaxis]

array([[10],
       [20],
       [30],
       [40],
       [50],
       [60]])

In [61]:
ar6[:,np.newaxis].shape

(6, 1)

<b>Compare arrays not element-wise but array-wise</b><br>
Suppose we wish to compare arrays not element-wise, but array-wise. We could
achieve this as follows by using the np.array_equal operator:

In [63]:
ar=np.arange(0,6)
ar2=np.array([0,1,2,3,4,5])

True

In [64]:
#檢查兩陣列內容值是否相等
np.array_equal(ar, ar2)

True

In [66]:
#比較對應元素
ar == ar2

array([ True,  True,  True,  True,  True,  True])

Here, we see that a single Boolean value is returned instead of a Boolean array. The
value is True only if all the corresponding elements in the two arrays match. The
preceding expression is equivalent to the following:

In [67]:
np.all(ar==ar2)

True

In [69]:
%timeit np.array_equal(ar, ar2)
%timeit np.all(ar==ar2)

2.47 µs ± 36.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
2.44 µs ± 30.5 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## Reduction Operations
Operators such as np.sum and np.prod perform reduces on arrays; that is, they
combine several elements into a single value:

In [70]:
ar=np.arange(1,5)
ar.prod()

24

specify whether the reduction operator to be applied row-wise or column-wise

In [71]:
ar=np.array([np.arange(1,6),np.arange(1,6)]); ar

array([[1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5]])

In [72]:
# axis=0, Columns
# 逐欄運算
np.prod(ar,axis=0)

array([ 1,  4,  9, 16, 25])

In [73]:
# axis=1, Rows
# 逐列運算
np.prod(ar,axis=1)

array([120, 120])

not specifying an axis results in the operation being applied to all elements of the array

In [74]:
ar=np.array([[2,3,4],[5,6,7],[8,9,10]]); ar.sum()

54

In [75]:
ar.sum(axis=0)

array([15, 18, 21])

In [76]:
ar.sum(axis=1)

array([ 9, 18, 27])

In [77]:
ar.mean()

6.0

In [78]:
np.median(ar)

6.0

## Statistical operators

In [79]:
np.random.seed(10)
ar=np.random.randint(0,10, size=(4,5)); ar

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0],
       [8, 6, 4, 3, 0],
       [4, 6, 8, 1, 8]])

In [80]:
ar.mean()

4.45

In [81]:
ar.std()

3.427462618322773

In [82]:
ar.var(axis=0) #across rows

array([12.6875,  4.1875, 11.    , 10.75  , 18.1875])

In [87]:
#累積加總
ar.cumsum()

array([ 9, 13, 13, 14, 23, 23, 24, 32, 41, 41, 49, 55, 59, 62, 62, 66, 72,
       80, 81, 89], dtype=int32)

In [85]:
ar.cumsum(axis=0)

array([[ 9,  4,  0,  1,  9],
       [ 9,  5,  8, 10,  9],
       [17, 11, 12, 13,  9],
       [21, 17, 20, 14, 17]], dtype=int32)

In [86]:
ar.cumsum(axis=1)

array([[ 9, 13, 13, 14, 23],
       [ 0,  1,  9, 18, 18],
       [ 8, 14, 18, 21, 21],
       [ 4, 10, 18, 19, 27]], dtype=int32)

## Logical operators

In [94]:
np.random.seed(100)
ar=np.random.randint(1,10, size=(4,4)); ar

array([[9, 9, 4, 8],
       [8, 1, 5, 3],
       [6, 3, 3, 3],
       [2, 1, 9, 5]])

In [95]:
np.any((ar%7)==0)

False

In [96]:
np.all(ar<11)

True

## Broadcasting

In [101]:
ar=np.ones([3,2]); ar

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [102]:
ar2=np.array([2,3]); ar2

array([2, 3])

In [103]:
ar+ar2

array([[3., 4.],
       [3., 4.],
       [3., 4.]])

<b>Broadcasting works across dimensions</b>

In [117]:
ar=np.array([[23,24,25]]); ar

array([[23, 24, 25]])

In [118]:
ar.T

array([[23],
       [24],
       [25]])

In [108]:
ar.T+ar

array([[46, 47, 48],
       [47, 48, 49],
       [48, 49, 50]])

In [125]:
a_column=np.array([np.arange(6)]) ; a_column

array([[0, 1, 2, 3, 4, 5]])

In [127]:
a_row=np.array([np.arange(0,60,10)]);a_row.T

array([[ 0],
       [10],
       [20],
       [30],
       [40],
       [50]])

In [128]:
a_column+a_row.T

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [136]:
np.multiply.outer(range(6),range(10,60,10))

array([[  0,   0,   0,   0,   0],
       [ 10,  20,  30,  40,  50],
       [ 20,  40,  60,  80, 100],
       [ 30,  60,  90, 120, 150],
       [ 40,  80, 120, 160, 200],
       [ 50, 100, 150, 200, 250]])

In [137]:
%timeit np.multiply.outer(range(6),range(10,60,10))

8.72 µs ± 75 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)