# Ch3.1 Data Indexing and Selection

## Data Selection in Series

### Series as dictionary

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
np.__version__,pd.__version__

('1.17.4', '0.25.3')

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [5]:
data['b']

0.5

We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:

In [6]:
'a' in data

True

In [7]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
# 含有 tuple 元素的 list
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

extend a ``Series`` by assigning to a new index value:

In [12]:
# 加一筆新資料
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### Series as one-dimensional array

In [13]:
# slicing by explicit index (明確的 index，會包含最後一個)
# Pandas 新增功能
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [14]:
# slicing by implicit integer index (不明確的 index，不包含最後一個)
# Numpy 特性
data[0:2]

a    0.25
b    0.50
dtype: float64

In [28]:
b1 = data > 0.3 ;b1

a    False
b     True
c     True
d     True
e     True
dtype: bool

In [29]:
b2 = data < 0.8 ;b2

a     True
b     True
c     True
d    False
e    False
dtype: bool

In [26]:
# intersection
b1 & b2

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [19]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [27]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc

In [30]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [31]:
# explicit index when indexing (key)
data[1]

'a'

In [32]:
# implicit index when slicing (position)
data[1:3]

3    b
5    c
dtype: object

the ``loc`` attribute allows indexing and slicing that always references the explicit index:

In [33]:
# .at[] 只能單筆資料
data.at[1]

'a'

In [37]:
# loc
data.loc[1]

'a'

In [38]:
%timeit data.at[1]
%timeit data.loc[1]

5.79 µs ± 69.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
12.5 µs ± 23.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [39]:
# 明確 index 包含最後一個
data.loc[1:3]

1    a
3    b
dtype: object

The ``iloc`` attribute allows indexing and slicing that always references the implicit Python-style index:

In [46]:
data.iat[1]

'b'

In [42]:
# iloc
data.iloc[1]

'b'

In [41]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [48]:
%timeit data.loc[3]
%timeit data.iloc[1]
%timeit data.iat[1]

12.4 µs ± 65.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.16 µs ± 20.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
2.48 µs ± 28.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## Data Selection in DataFrame

### DataFrame as a dictionary

In [49]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [50]:
data['area'] #dictionary-style indexing
# DataFrame 拮取出來的 Series，會顯示 column 名稱 (Name: area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [51]:
data.area #attribute-style access
# Not recmommended

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

This attribute-style column access actually accesses the exact same object as the dictionary-style access:

In [52]:
data.area is data['area']

True

the ``DataFrame`` has a ``pop()`` method, so ``data.pop`` will point to this rather than the ``"pop"`` column:

In [54]:
data.pop

<bound method NDFrame.pop of               area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135>

In [53]:
data.pop is data['pop']

False

adding a new column:

In [55]:
# 運算結果，添加 new column
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

### DataFrame as two-dimensional array

In [57]:
data.columns

Index(['area', 'pop', 'density'], dtype='object')

In [58]:
data.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [59]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

transpose the full ``DataFrame`` to swap rows and columns:

In [60]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

passing a single index to an array accesses a row:

In [61]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

passing a single "index" to a ``DataFrame`` accesses a column:

In [62]:
# 取得一個欄位，傳回 Series
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

acess mutiple columns

In [63]:
# fancy index 取得多個欄位
# 傳回 DataFrame
data[['area','pop']]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

Using the iloc indexer, the ``DataFrame`` index and column labels are maintained in the result:

In [64]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [65]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [66]:
data.iloc[1,2]

38.01874042279153

In [67]:
data.iloc[0]

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
Name: California, dtype: float64

Using the ``loc`` indexer we can index the underlying data using the explicit index and column names:

In [68]:
data.loc['Texas']

area       6.956620e+05
pop        2.644819e+07
density    3.801874e+01
Name: Texas, dtype: float64

In [69]:
data.loc['Illinois', 'pop']

12882135

In [70]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

combine masking and fancy indexing as in the following:

In [78]:
# SELECT 'pop', 'density' FROM 'data' WHERE 'density' > 100
data.loc[data['density'] > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

to set or modify values

In [81]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [82]:
data.loc['California','density']

90.0

### Additional indexing conventions

In [85]:
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [86]:
data['area'] # df['col']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [87]:
data['Florida']

KeyError: 'Florida'

In [89]:
# Pandas自行判斷
data['Florida':'Illinois'] # slicing rows

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [91]:
# 明確使用 key
data.loc['Florida':'Illinois'] # slicing rows

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

Such slices can also refer to rows by number rather than by index:

In [92]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Similarly, direct masking operations are also interpreted row-wise rather than column-wise:

In [96]:
data.iloc[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [95]:
data[data['density'] > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121

Access a single value for a row/column pair

In [97]:
data.at['Texas','area']

695662

In [99]:
data.iat[1,0]

695662