# Ch3.0 Introducing Pandas Objects

In [1]:
import numpy as np
import pandas as pd

In [4]:
np.__version__,pd.__version__

('1.17.4', '0.25.3')

## The Pandas Series Object

In [10]:
# Series
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

#index values dtype

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
# compare with numpy
ar=np.array([0.25,0.5,0.75,1.0])
ar

array([0.25, 0.5 , 0.75, 1.  ])

In [18]:
ar[1]

0.5

In [12]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [36]:
# 自動生成 key (location)
data.index

Int64Index([2, 5, 3, 7], dtype='int64')

In [17]:
# 由 key 抓資料
data[1]

0.5

In [35]:
# Series slice
data[1:3]

5    0.50
3    0.75
dtype: float64

### ``Series`` as generalized NumPy array

In [22]:
# 賦予 key 值
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [23]:
data['b']

0.5

In [24]:
# not recommended
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [34]:
# notice 
data[5]

0.5

### ``Series`` as specialized dictionary

In [26]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [30]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [65]:
population.keys()

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [31]:
population.values

array([38332521, 26448193, 19651127, 19552860, 12882135], dtype=int64)

In [27]:
population['California']

38332521

In [38]:
# Series slice (key 的 slice 會包含 last element)
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

### Constructing Series objects

In [43]:
# RangeIndex
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [44]:
pd.Series([2, 4, 6]).index

RangeIndex(start=0, stop=3, step=1)

``data`` can be a scalar

In [47]:
# 套用相同資料，賦予不同 key
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [45]:
pd.Series(5, index=[100, 200, 300]).index

Int64Index([100, 200, 300], dtype='int64')

``data`` can be a dictionary

In [48]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

## The Pandas DataFrame Object

### DataFrame as a generalized NumPy array

In [49]:
# population Series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [50]:
# area Series
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [55]:
# DataFrame
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute

In [52]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

``DataFrame`` has a ``columns`` attribute

In [53]:
states.columns

Index(['population', 'area'], dtype='object')

In [64]:
states.keys()

Index(['population', 'area'], dtype='object')

### DataFrame as specialized dictionary

In [60]:
# DataFrame類似 Database 的 Table，以 columns 資料為主
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [63]:
# 無 'Texas' index --> KeyError
states['Texas']

KeyError: 'Texas'

### Constructing DataFrame objects

#### From a single Series object

In [66]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [68]:
# 有 key(columns)的 Series 為 DataFrame
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a list of dicts

In [83]:
# list comprehension
%timeit list1=[x**2 for x in range(10)]

2.69 µs ± 46.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [81]:
%%timeit 
list2=[]
for i in range(10):
    list2.append(i**2)

2.97 µs ± 45.8 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [85]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]

In [86]:
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [87]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

#### From a dictionary of Series objects

In [94]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [95]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Illinois': 149995, 
             'Florida': 170312}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Illinois      149995
Florida       170312
dtype: int64

In [97]:
#會依key對齊(不固定排序)
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Florida       19552860  170312
Illinois      12882135  149995
New York      19651127  141297
Texas         26448193  695662

#### From a two-dimensional NumPy array

In [100]:
df=pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
df

        foo       bar
a  0.662307  0.638486
b  0.446033  0.970739
c  0.876034  0.121467

In [101]:
# DataFrame 為 2-D array
df.values

array([[0.66230689, 0.63848597],
       [0.44603319, 0.97073945],
       [0.87603383, 0.12146684]])

#### From files

In [102]:
mb = pd.read_csv("./data/microbiome.csv")
mb

         Taxon  Patient  Group  Tissue  Stool
0   Firmicutes        1      0     136   4182
1   Firmicutes        2      1    1174    703
2   Firmicutes        3      0     408   3946
3   Firmicutes        4      1     831   8605
4   Firmicutes        5      0     693     50
..         ...      ...    ...     ...    ...
65       Other       10      1     203      6
66       Other       11      0     392      6
67       Other       12      1      28     25
68       Other       13      0      12     22
69       Other       14      1     305     32

[70 rows x 5 columns]

In [104]:
# 自訂head(header=None)
# .head():預設顯示前5筆資料
# read_csv()可用絕對路徑
pd.read_csv("C:/Users/User/notebooks/data/microbiome.csv", header=None).head()

            0        1      2       3      4
0       Taxon  Patient  Group  Tissue  Stool
1  Firmicutes        1      0     136   4182
2  Firmicutes        2      1    1174    703
3  Firmicutes        3      0     408   3946
4  Firmicutes        4      1     831   8605

In [108]:
pd.read_table?

In [105]:
# pd.read_table欄位分隔預設為'\t'
mb = pd.read_table("./data/microbiome.csv", sep=',')

In [111]:
# 另外需 pip install xlrd (cmd 管理員身分執行)
# header 命名 names=['class','species']
dx = pd.read_excel('./data/MID2.xls', sheet_name='Sheet 1', header=None, names=['class','species'])
dx.head()

                                               class  species
0  Archaea "Crenarchaeota" Thermoprotei Acidiloba...        2
1  Archaea "Crenarchaeota" Thermoprotei Acidiloba...       14
2  Archaea "Crenarchaeota" Thermoprotei Desulfuro...       23
3  Archaea "Crenarchaeota" Thermoprotei Desulfuro...        1
4  Archaea "Crenarchaeota" Thermoprotei Desulfuro...        2

In [112]:
dx.shape

(288, 2)

In [116]:
dx.values.shape

(288, 2)

In [117]:
%timeit dx.shape
%timeit dx.values.shape

608 ns ± 8.39 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
41.7 µs ± 503 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [118]:
# Load the first sheet of the JSON file into a data frame
dj = pd.read_json('data/data.json', orient='columns')

# View the first ten rows
dj.head(10)

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0
5        9 2015-01-01 00:00:05         0
6        7 2015-01-01 00:00:06         0
7        1 2015-01-01 00:00:07         0
8        6 2015-01-01 00:00:08         0
9        9 2015-01-01 00:00:09         0

## The Pandas Index Object

In [119]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index as immutable array

In [120]:
ind[1]

3

In [121]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [122]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [124]:
# Index does not support mutable operations
ind[1] = 0

TypeError: Index does not support mutable operations

### Index as ordered set

In [125]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [126]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [127]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [128]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [129]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')